'name': 'Pandoc Markdown'
'patterns': []
'repository':
  'single-line':
    'patterns': [
      { 'include': '#headings', order: 250 }
      ]
  'inline':
    'patterns': [
      {'include': '#inline-no-emphasis'}
      {'include': '#emphasis-inline'}
    ]
  'inline-no-emphasis':
    'patterns': []
  'block-no-emphasis':
    'patterns': []
