'name': 'Pandoc Markdown'
'patterns': []
'repository':
  'inline':
    'patterns': [
      { 'include': '#inline-no-emphasis' }
    ]
  'block':
    'patterns': [
      { 'include': '#block-no-emphasis' }
    ]
  'inline-no-emphasis':
    'patterns': []
  'block-no-emphasis':
    'patterns': [
      { 'include': '#code'}
    ]
