'extend-repository-patterns':
  'block-no-emphasis': [
    { 'include': '#footnotes'}
  ]
'repository':
  'footnotes':
    'patterns': [
      {
        'name': 'markup.footnote.reference.pfm'
        'match': '(\\[)(\\^[\\S]+)(\\])(?!:)'
        'captures':
          '1':
            'name': 'punctuation.definition.begin.gfm'
          '2':
            'name': 'entity.gfm'
          '3':
            'name': 'punctuation.definition.end.gfm'
      }
      {
        'name': 'markup.footnote.inline.pfm'
        'match': '(\\^\\[)([^\\^].+|\\^\\S.+)(\\])'
        'captures':
          '1':
            'name': 'support.gfm'
          '2':
            'patterns': [
              {
                'include':'$self'
              }
            ]
          '3':
            'name': 'support.gfm'
      }
      {
        match: '^\\s*(\\[)(\\^[\\S]+)(\\])\\s*(:)\\s*(?=\\S+)'
        name: 'markup.footnote.reference.pfm'
        captures:
          '1':
            name: 'punctuation.definition.begin.gfm'
          '2':
            name: 'entity.gfm'
          '3':
            name: 'punctuation.definition.end.gfm'
          '4':
            name: 'punctuation.separator.key-value.gfm'
      }
    ]
