'extend-repository-patterns':
  'block-no-emphasis': [
    { 'include': '#list-definitions'}
  ]
'repository':
  'list-definitions':
    'patterns': [
      {
        'name': 'markup.definition.pfm'
        'match': '^([:~]   |^ [:~]  |^  [:~] )(\\S.*)'
        'captures':
          '1':
            'name': 'variable.unordered.list.gfm'
          '2':
            'patterns': [
              { 'include': '#inline'}
            ]
      }
    ]
